body{
 background-color: rgb(252, 252, 252);
 box-sizing: border-box;
 font-family: 'Courier New', Courier, monospace;
 font-size: 50px;
 margin: 0;
}


header{
    display:flex;
    /*justify-content: space-between;*/
    justify-content: space-between;
    height: auto;
    background-color: antiquewhite;
    align-items: center;
    
}
a{
    text-decoration: none;
    color:black
}
.logo {
    
    display:flex;
    align-items: center;
    
}
.logo img{
    height: 50px;
}
.NombreCompania{
    font-size: 1.5vh;
    text-decoration: none;
    font-weight: 600;
}
.menu{
    display:flex;
    font-size: 1.5vh;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    gap: 20px;
    
}
.hamburguesa-menu{
    display: none;;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:blue;

}
@media (max-width:700px)
{
    header{
       flex-direction: column; 
    }
    nav a{
        padding: 10px ;
    }
    .menu{
        opacity: 0;
        max-height: 0;
        pointer-events: none;
       /* display: none;*/
        flex-direction: column;
        width: auto;
        background-color:brown;
        position: absolute;
        top: 60px; /* debajo del header */
        gap: 1px;
        right: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.5s ease;
        text-align: left;
        z-index: 10;
    }
    .menu.show{
        display: flex;
        opacity: 1;
        max-height: 500px; /* o un valor que contenga tu menú completo */
        overflow: visible;
        pointer-events: auto;
    }
    .hamburguesa-menu{
        display: block;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
/*Diseño celular primero*/

.imagen-programador{
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}
h3{
    text-align: center;
    font-size: clamp(2.0rem, 2vw, 2rem);
    margin: 0 0;
}
.container{
    max-width: 1450px;
    margin: auto;
    
}
#texto-estudios{
    background-color: rgb(211, 211, 211); 
    border-radius: 10px;
}
#texto-estudios h3, 
#texto-estudios p {
    color:rgb(0, 0, 0);
}
#texto-estudios p{
    font-size: clamp(1.2rem,2vw,2rem)
}
 h4{
    font-weight: 600;
    font-size: clamp(1.3rem,2vw,2rem);
    margin: 0 0;
  }
  .listados-proyecto p{
    font-size: clamp(1.2rem,2vw,2rem);
    margin:  clamp(1rem,2vw,2rem) 0;
 
  }
  #ecoomerce{
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("imagenes/ecomerce.webp");
    
  }
  #institucional{
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("imagenes/institucional.png");
  }
  #revista-cientifica{
    background-image: 
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("imagenes/revista.jpg");
  }
  .listados-proyecto{
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px;
    text-align: justify;
    border-radius: 10px;
    margin: clamp(1.2rem,2vw,2rem) 0;

  }
